* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  background-color: #C1C9CC;
}
#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 1000px;
  margin: auto;
}
.left-blank {
  background-color: #f0f8ff;
  width: 25%;
  height: 1000px;
  position: relative;
}
.right-blank {
  background-color: #f0f8ff;
  width: 25%;
  height: 1000px;
  position: relative;
}
.main-box {
  width: 50%;
  height: 100vh;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}
.header {
  display: flex;
  color: #290202;
  font-size: 35px;
  position: relative;
  margin-top: 20px;
  text-shadow: 2px 0px 2px #73ae96;
}
.header img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border-radius: 30px;
  box-shadow: 2px 0px 2px #73ae96;
}
.div-1 {
  width: 27%;
  height: 27vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 12%;
  right: 21%;
}
.winter {
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  transform: rotate(0deg);
  position: absolute;
  top: -3%;
  right: 10%;
  box-shadow: 0px 0px 6px 2px #544f;
}
.div-2 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
.child-div-2 {
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  width: 12%;
  height: 24vh;
  transform: rotate(135deg);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  top: 5%;
  left: 22%;
  z-index: -1;
  box-shadow: 0px 0px 6px 2px #544f;
}
.child-div-3 {
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  width: 12%;
  height: 25vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(225deg);
  position: absolute;
  top: 26%;
  left: 16%;
  box-shadow: 0px 0px 6px 2px #544f;
}
.child-div-4 {
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  width: 12%;
  height: 88vh;
  position: absolute;
  top: 29%;
  left: 17%;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: 0px 0px 6px 2px #544f;
}
.rainy {
  width: 33%;
  height: 33vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 14%;
  left: 21%;
  box-shadow: 0px 0px 6px 2px #544f;
}
.div-3 {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.nature {
  width: 40%;
  height: 40vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 57%;
  right: 17%;
  box-shadow: 0px 0px 6px 2px #544f;
}
.child-div3-2 {
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  width: 12%;
  height: 20vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transform: rotate(45deg);
  position: absolute;
  top: 85%;
  left: 41%;
  box-shadow: 0px 0px 6px 2px #544f;
}
.child-div3-3 {
  width: 12%;
  height: 44vh;
  transform: rotate(134deg);
  position: absolute;
  top: 73%;
  right: 2%;
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  box-shadow: 0px 0px 6px 2px #544f;
}
.child-div3-4 {
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  width: 12%;
  height: 21vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(135deg);
  position: absolute;
  top: 90%;
  right: 19%;
  box-shadow: 0px 0px 6px 2px #544f;
}
.div-4 {
  background-image: linear-gradient(
    to top left,
    rgb(3, 64, 3),
    rgb(184, 221, 184)
  );
  width: 48%;
  height: 48vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: absolute;
  right: -22%;
  top: 23%;
  box-shadow: 0px 0px 14px 3px #544f4f;
}
.year {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 220px;
  left: 29px;
  transform: rotate(180px);
  transform: rotate(310deg);
  border: 1px solid green;
  padding: 2px 5px;
  background-color: burlywood;
  border-radius: 5px;
  box-shadow: 0px 0px 3px;
}
.season {
  margin-left: 20px;
}
h2 {
  color: rgb(4, 65, 118);
  text-shadow: 2px 0px 2px #11eedf;
}
.h2 {
  color: rgb(5, 102, 50);
  text-shadow: 2px 0px 2px #11eedf;
}
.follow {
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}
.fa-brands {
  padding: 2px;
}
.fa-facebook {
  color: #003ebd;
}
.fa-twitter {
  color: #46a1d5;
}
.anniversary {
  display: block;
  float: right;
  width: 80px;
  height: 80px;
  margin-right: -480px;
  border-radius: 34px;
  box-shadow: 0px 0px 8px 0px black;
}
