* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  background-color: #d7f1f1;
}
#container {
  border: 1px solid black;
  /* background-color: #42b9b9; */
  width: 60%;
  height: 100vh;
  margin: 10px  auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.div-1 {
  border: 1px solid black;
  background-image: linear-gradient(to left top, rgb(184, 237, 184), rgb(231, 244, 231));
  width: 20%;
  height: 23vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: relative;
  top: 11%;
  left: 60%;
}

.div-2 {
  border: 1px solid black;
  background-image: linear-gradient(to left top, rgb(184, 237, 184), rgb(101, 103, 101));
  width: 25%;
  height: 30vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: relative;
  top: 26%;
  left: 19%;
}
.div-3 {
  border: 1px solid black;
  background-image: linear-gradient(to left top, rgb(146, 151, 146), green);
  width: 30%;
  height: 35vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: relative;
  top: 50%;
  right: -12%;
}.flex-div-4{
  display: flex;
}
.div-4 {
  border: 1px solid black;
 background-image: linear-gradient(to left top, rgb(184, 237, 184), green);
  width: 22%;
  height: 45vh;
  border-radius: 20px;
  transform: rotate(45deg);
  position: absolute;
  right: 10%;
  top: 19%;
  z-index: -4;
}
.year{

}
.div-5 {
  border: 1px solid black;
  background-image: conic-gradient(rgb(196, 238, 196),rgb(49, 134, 49));
  width: 6%;
  height: 24vh;
  transform: rotate(135deg);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  top: 14%;
  left: 41%;
  z-index: -1;
}
.div-6 {
  border: 1px solid black;
  background-image: radial-gradient(rgb(184, 237, 184), green);
  width: 5%;
  height: 25vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(225deg);
  position: absolute;
  top: 29%;
  left: 41%;
  z-index: -1;
}
.div-7 {
  border: 1px solid black;
 background-image: radial-gradient(rgb(184, 237, 184), green);
  width: 8%;
  height: 59vh;
  transform: skew(-44deg, 0deg);
  z-index: -1;
  position: absolute;
  top: 42%;
  left: 35%;
}
.div-8 {
  border: 1px solid black;
  background-image: conic-gradient(rgb(196, 238, 196),rgb(49, 134, 49));
  width: 7%;
  height: 16vh;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(225deg);
  position: absolute;
  top: 72%;
  left: 52%;
  z-index: -1;
}
.div-9 {
  border: 1px solid black;
  width: 16%;
  height: 17vh;
  transform: skewy(-135deg);
  position: absolute;
  top: 67%;
  right: 20%;
  background-image: conic-gradient(rgb(196, 238, 196),rgb(49, 134, 49));
  z-index: -1;
}
.div-10 {
     border: 1px solid black;
    background-image: conic-gradient(rgb(196, 238, 196),rgb(49, 134, 49));
    width: 6%;
    height: 16vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotate(135deg);
    position: absolute;
    top: 82%;
    left: 66%;
    z-index: -1;
  }
