* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(230, 244, 252);
}
/* navbar-start */
.navbar {
  background-color: rgb(246, 248, 250);
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 10px 0px;
  border-radius: 5px;
}
ul {
  width: 80%;
  margin: 0 auto;
}
li {
  display: block;
  float: left;
  list-style-type: none;
  padding: 20px;
}
li > a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
li > a:hover {
  background-color: rgb(93, 94, 96);
  color: aliceblue;
}
ul > a > img {
  width: 40px;
  height: 40px;
  margin-left: 170px;
  margin-top: 12px;
}
.btn {
  float: right;
  padding: 10px 25px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: rgb(98, 200, 240);
  color: azure;
  border-radius: 50px;
  font-size: 20px;
  border: 1px white;
  font-weight: bolder;
}
/* finish navbar */
/* start main-box*/
.main-div {
  display: flex;
}
/* main box finish */

/* start first-box*/
#First-div {
  width: 25%;
  height: 350px;
  background-color: rgb(245, 249, 251);
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px;
}
.header {
  background-color: black;
  color: white;
  padding: 40px 10px;
  width: 100%;
  height: 120px;
  text-align: center;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: -15px;
  margin-left: 10px;
}
.header3 {
  margin: -45px 20px 0px 100px;
}
.para {
  margin: 1px 20px 20px 100px;
}
table,
th,
tr {
  margin: 35px 15px;
  padding: 10px;
  font-size: 20px;
}
td {
  text-align: center;
  color: rgb(6, 224, 253);
}
/* finish first- box */
/* Second  box start */
#Second-div {
  width: 35%;
  height: 450px;
  background-color: rgb(245, 249, 251);
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px;
}
#Second-div > p > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
#Second-div > p {
  margin-top: -3px;
  margin-left: 14px;
}
/* second box finish */
/* Third box Start */
#Third-div {
  width: 25%;
  height: 350px;
  background-color: rgb(245, 249, 251);
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px;
}
/* Third box finish */
