* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e6ecf0;
}
/* navbar-start */
.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 10px 0px;
  border-radius: 5px;
}
ul {
  width: 80%;
  margin: 0 auto;
}
li {
  display: block;
  float: left;
  list-style-type: none;
  padding: 20px;
}
li > a {
  font-size: 20px;
  text-decoration: none;
  color: #848f97;
}
li > a:hover {
  background-color: rgb(93, 94, 96);
  color: aliceblue;
}
ul > a > img {
  width: 40px;
  height: 40px;
  margin-left: 170px;
  margin-top: 12px;
}
.btn {
  float: right;
  padding: 10px 25px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: rgb(98, 200, 240);
  color: azure;
  border-radius: 50px;
  font-size: 20px;
  border: 1px white;
  font-weight: bolder;
}
/* finish navbar */
/* start main-box*/
.main-div {
  display: flex;
  flex-direction: row;
}
/* main box finish */

/* start first-box*/
#First-div {
  width: 25%;
  height: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 10%;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px;
}
.header {
  background-color: black;
  color: white;
  padding: 40px 10px;
  width: 100%;
  height: 120px;
  text-align: center;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-top: -15px;
  margin-left: 10px;
}
.header3 {
  margin: -45px 20px 0px 100px;
  color: #050505;
}
.para {
  margin: 1px 20px 20px 100px;
  color: #818181;
}
table,
th,
tr {
  margin: 35px 15px;
  padding: 10px;
  font-size: 20px;
  color: rgb(107, 121, 130);
}
td {
  text-align: center;
  color: #60bcf5;
  font-size: 22px;
  font-weight: bold;
}
/* finish first- box */
/* Second  box start */
#Second-div {
  width: 35%;
  height: 450px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px;
}
#Second-div > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 20px 5px -20px 12px;
}
.strong {
  margin-left: 2px;
}
#Second-div > p {
  color: #acacac;
  margin: -18px 0px 18px 106px;
}
#Second-div > .para-baby {
  margin-left: 60px;
  color: #151515;
}

/* second box finish */
/* Third box Start */
#Third-div {
  width: 23%;
  height: 320px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px;
  margin-left: 10px;
  margin-top: 10px;
}
#Third-div > .h2 {
  margin: 30px 0px 10px 20px;
}
#Third-div > img {
  width: 40px;
  height: 40px;
  margin: 20px 10px 10px 10px;
}
/* #Third-div  > img > .strong-1{
  margin: 20px 10px 10px 10px;
} */
.header4 {
  margin: -44px 5px 0px 60px;
}
#Third-div > p {
  margin: -18px 0px 0px 145px;
}
.button {
  margin: 10px 0px 5px 58px;
  padding: 7px 10px;
  border: 1px solid #80c9f7;
  background-color: #ffffff;
  border-radius: 50px;
  color: #80c9f7;
  font-weight: bolder;
  font-size: 15px;
}
hr {
  margin: 0px 15px 0px 15px;
}
/* Third box finish */
