* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  flex-direction: row;
}
#mainDiv {
  display: flex;
  flex-direction: row;
}
/* navbar-left-start */
.navbar-left {
  background-color: #ffffff;
  border: 1px solid rgb(207, 204, 204);
  width: 20%;
  height: fit-content;
}
li {
  margin: 5px 0px 5px 10px;
}
h3 {
  padding: 0px;
  margin: 2px;
}
label {
  color: black;
}
.prime {
  width: 70px;
  height: 20px;
  margin-left: 0px;
  margin-bottom: -3px;
}
.checkbox {
  padding: 3px;
  margin: 5px 0px 0px 15px;
}
/* navbar-left-end */

/* first-div-statrt */

.para {
  color: #03a9f4;

  margin: 15px 0px 0px 8px;
}
.main-class {
  /* border: 1px solid black; */
  width: 80%;
  height: 50vh;
  float: left;
  margin-top: 12px;
}
#flex {
  display: flex;
  flex-direction: row;
}
.first-div {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.first-div > a > img {
  width: 170px;
  height: 205px;
}
del {
  margin-left: 10px;
}
.first-div > span {
  background-color: #d8effa;
}
.first-div > .a-price {
  margin-left: 0px;
}
.first-div > .a-price-symbol {
  margin-left: 9px;
}
.second-div {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.second-div > a > img {
  width: 150px;
  height: 205px;
}
.third-div {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.third-div > a > img {
  width: 150px;
  height: 205px;
}
.forth-div {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.forth-div > a > img {
  width: 150px;
  height: 205px;
}
.fifth-div {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.fifth-div > a > img {
  width: 150px;
  height: 205px;
}
.sixth-div {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.sixth-div > a > img {
  width: 170px;
  height: 205px;
}

/* first-div-end */

/* main-right-side start */

.main-right-side {
  /* border: 1px solid black; */
  width: 80%;
  height: 50vh;
  float: left;
  margin-top: 12px;
}
.para {
  color: #03a9f4;

  margin: 15px 0px 0px 8px;
}
.first-div-1 {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.first-div-1 > a > img {
  width: 170px;
  height: 205px;
}
del {
  margin-left: 10px;
}
.first-div-1 > span {
  background-color: #d8effa;
}
.first-div-1 > .a-price {
  margin-left: 0px;
}
.first-div-1 > .a-price-symbol {
  margin-left: 9px;
}
.second-div-1 {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.second-div-1 > a > img {
  width: 150px;
  height: 205px;
}
.third-div-1 {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.third-div-1 > a > img {
  width: 150px;
  height: 205px;
}
.forth-div-1 {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.forth-div > a > img {
  width: 150px;
  height: 205px;
}
.fifth-div-1 {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.fifth-div-1 > a > img {
  width: 150px;
  height: 205px;
}
.sixth-div-1 {
  background-color: #edf3f9;
  border: 1px solid #d8effa;
  margin: 5px;
  padding: 5px;
}
.sixth-div-1 > a > img {
  width: 170px;
  height: 205px;
}
/* main-div-right-side end*/
/* .star label:before {
  content: '⭐';
} */
