* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  

}
/* navbar-left-start */
.navbar-left {
  background-color: #ffffff;
  border: 1px solid rgb(207, 204, 204);
  width: 20%;
  height: fit-content;
}
li {
  margin: 5px 0px 5px 10px;
}
h3 {
  padding: 5px;
  margin: 10px;
}
label {
  padding: 3px;
  margin: 3px;
  color: black;
}
img {
  width: 80px;
  height: 40px;
  margin-left: -10px;
  margin-bottom: -10px;
}
.checkbox {
  padding: 3px;
  margin: 5px 0px 5px 15px;
}

/* navbar-left-end */

/* .star label:before {
  content: '⭐';
} */
