* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(51, 92, 126);
}
.tnc {
  margin: auto;
  height: fit-content;
  width: 80%;
  padding: 80px;
}
p {
  font-weight: bolder;
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 5px 0px;
}
h1 {
  margin: 10px 0px 2px 0px;
  padding: 8px 0px 2px 0px;
}
a {
  color: rgb(9, 122, 208);
  margin: 0px 3px 0px 2px;
}
li {
  font-weight: bolder;
  padding: 0px 0px 5px 0px;
  margin-left: 50px;
  list-style-position: outside;
}
.unorder-list li {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 90px;
}
