* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #0a1b2c;
  color: aliceblue;
  padding: 5px;
  height: 25px;
}
.navbar .red {
  color: rgb(210, 14, 14);
}
.navbar .green {
  color: green;
}
.fa-caret-up {
  color: green;
}
.fa-caret-down {
  color: rgb(210, 14, 14);
}
/* ------second navbar start------- */
.navbar-2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #16345A;
}

.img-tag {
  display: flex;
}
img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.img-1 {
  display: flex;
  margin: 10px;
}
.usd {
  margin-top: 15px;
  color: white;
}
.fa-chevron-down{
    color: whitesmoke;
}
.img-2 {
  margin: 10px;
}
.en{
    color: white;
}
.england {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
/* ------third navbar start---- */
.navbar-3{
    display: flex;
    background-color: #153359;
    color: #ffffff;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
}
/* -----navbar-finish---- */
.messege{

}
.fa-comments{
  font-size: 40px;
}