* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  background-color: black;
}

/* first capsule start  */
#capsule-first {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*  img point */
.img1 {
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-left: 35px;
}
/*  img point  */
.cap-0 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-1 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-2 {
  background-color: rgb(56, 171, 200);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-3 {
  background-color: rgb(59, 176, 17);
  width: 165px;
  height: 165px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-4 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-5 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-6 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-7 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* start hidden point */
.hidden {
  visibility: hidden;
  width: 165px;
  height: 165px;
}
/*close hidden point */
.cap-8 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-9 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-10 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
/*  img point */
.img2 {
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-left: 35px;
}
.cap-11 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-12 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-13 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
/*  img point */
.img3 {
  width: 110px;
  height: 110px;
  margin-top: 25px;
  margin-left: 20px;
}
.cap-14 {
  background-color: #2889d9;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.cap-15 {
  background-color: #2aa4e2;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
/* img point  */
.img4 {
  width: 110px;
  height: 110px;
  margin-top: 25px;
  margin-left: 25px;
}
.cap-16 {
  background-color: #2296e9;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.cap-17 {
  background-color: #2f8fd8;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.cap-18 {
  background-color: #17d092;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-19 {
  background-color: #17d092;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-20 {
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-21 {
  background-color: pink;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-22 {
  background-color: #17d081;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-23 {
  background-color: #17d092;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-24 {
  background-color: #17d092;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.cap-25 {
  background-color: #17d092;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.cap-26 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-27 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.cap-28 {
  background-color: red;
  width: 165px;
  height: 165px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.cap-29 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.cap-30 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-31 {
  background-color: rgb(192, 41, 131);
  width: 165px;
  height: 165px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.cap-32 {
  background-color: #12ff45;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.cap-33 {
  background-color: #0ef16d;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.cap-34 {
  background-color: #0ef16d;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.cap-35 {
  background-color: #9edf36;
  width: 165px;
  height: 165px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* first-capsule-end */
